@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VARIABLES*/
:root {
  --color-principal: #4f5756;
  --color-principal-claro: #778381;
  --color-secundario: black;
  --color-secundario-transparente: rgba(0, 0, 0, 0.571);
  --color-terciario: white;
  --tipo-destacados: 'Roboto', sans-serif;
  --tipo-cuerpo: 'Almarai', sans-serif;
  --padding-xs: 0.3em;
  --padding-sm: 0.5em;
  --padding-md: 1em;
  --padding-lg: 1.5em;
  --padding-xl: 2em;
  --padding-xxl: 2.5em;
  --margin-sm: 0.5em;
  --margin-md: 1em;
  --margin-lg: 1.5em;
  --margin-xl: 2.5em;
  --font-sm: 0.8em;
  --font-md: 1em;
  --font-lg: 1.2em;
  --font-xl: 1.5em;
  --font-xxl: 2.5em;
  --font-xxxl: 2.8em;
  --border-radius: 5px;
  --transicion-simple: all 0.5s ease;
}

body {
  font-family: var(--tipo-cuerpo);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*FLEX*/

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.alinear-horizontal {
  align-items: center;
}

.alinear-extremos {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/*CONTENEDOR*/

.contenedor {
  width: 80%;
  margin: var(--margin-xxl) auto;
}

/*REDES SOCIALES*/

.header__social {
  background-color: var(--color-secundario);
  padding: var(--padding-md);
  text-align: center;
}

.header__link {
  color: var(--color-terciario);
  padding: 0 var(--padding-sm);
  display: inline-block;
  font-size: var(--font-xl);
}

/*MENÚ HAMBURGUESA*/

.barras {
  display: block;
  font-size: var(--font-xxxl);
  padding: var(--padding-xs);
}

.cruz {
  display: none;
  font-size: var(--font-xxxl);
  padding: var(--padding-xs);
}

.header:hover .cruz {
  display: block;
}

.header:hover .barras {
  display: none;
}

/*HEADER*/

.header__contenido {
  position: relative;
  padding: 0 var(--padding-sm);
}

/*MENÚ*/

.nav__link {
  color: var(--color-terciario);
  padding: var(--padding-lg);
  display: block;
  font-family: var(--tipo-destacados);
  text-transform: uppercase;
  font-size: var(--font-md);
  border-bottom: 1px solid var(--color-terciario);
}

.nav__link--activo {
  background-color: var(--color-principal);
}

.nav__link:hover {
  background-color: var(--color-principal-claro);
}

.nav {
  position: absolute;
  background-color: var(--color-secundario);
  width: 100%;
  top: 95px;
  left: 100%; /*para que desaparezca del todo por la derecha*/
  transition: var(--transicion-simple);
}

/*para hacer este tipo de menús hamburguesas el hover siempre hay que dárselo al header porque si no, al hacer clic, el menú nunca se mantendría a la vista. Lo ideal sería ponerle el hover al menú de hamburguesa pero eso solo se puede hacer con JavaScript*/

.header:hover .nav {
  left: 0px;
  transition: var(--transicion-simple);
}

/*CESTA DE LA COMPRA*/

.header__cesta {
  position: relative;
}

.header__bag__icono {
  color: var(--color-principal);
  background-color: transparent;
  border: none;
  padding: var(--padding-sm);
  font-size: var(--font-xl);
}

.header__items-comprados {
  background-color: transparent;
  border: none;
  font-size: var(--font-lg);
  position: absolute;
  right: 0;
  top: 0;
}

/*@MEDIA*/
/*576px*/
@media (min-width: 576px) {
  .nav {
    top: 100px;
  }

  .header__link {
    padding: var(--padding-sm) var(--padding-md);
  }
}

/*768px*/
@media (min-width: 768px) {
  .nav {
    position: static;
    background-color: var(--color-terciario);
  }

  .nav__link {
    color: var(--color-principal);
    padding: var(--padding-sm);
    margin: var(--margin-lg);
    display: inline-block;
  }

  .nav__link--activo {
    background-color: var(--color-terciario);
    border-bottom: 3px solid var(--color-principal);
  }

  .nav__link:hover {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
  }

  .barras,
  .cruz {
    display: none;
  }

  .header:hover .barras,
  .header:hover .cruz {
    display: none;
  }

  .header__logo {
    order: 1;
  }

  .header__cesta {
    order: 3;
  }

  .nav {
    order: 2;
  }

  .col-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .header__social {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
