@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VARIABLES*/
:root {
  --color-principal: #4f5756;
  --color-principal-claro: #778381;
  --color-secundario: black;
  --color-secundario-transparente: rgba(0, 0, 0, 0.5);
  --color-terciario: white;
  --color-accent: #610015;
  --color-accent-claro: #7d5059;
  --tipo-destacados: 'Roboto', sans-serif;
  --tipo-cuerpo: 'Gentium Plus', serif;
  --padding-xs: 0.3em;
  --padding-sm: 0.5em;
  --padding-md: 1em;
  --padding-lg: 1.5em;
  --padding-xl: 2em;
  --padding-xxl: 2.5em;
  --margin-sm: 0.5em;
  --margin-md: 1em;
  --margin-lg: 1.5em;
  --margin-xl: 2.5em;
  --font-sm: 0.9em;
  --font-md: 1em;
  --font-lg: 1.2em;
  --font-xl: 1.5em;
  --font-xxl: 2.5em;
  --font-xxxl: 2.8em;
  --border-radius-xs: 5px;
  --border-radius-xxl: 45px;
  --transicion-simple: all 0.5s ease;
}

body,
h3 {
  font-family: var(--tipo-cuerpo);
}

img {
  max-width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*FLEX*/

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.alinear-horizontal {
  align-items: center;
}

.alinear-extremos {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/*CONTENEDOR*/

.contenedor {
  width: 80%;
  margin: var(--margin-lg) auto;
}

/*REDES SOCIALES*/

.header__social,
.footer__social {
  background-color: var(--color-secundario);
  padding: var(--padding-md);
  text-align: center;
}

.header__link,
.footer__link {
  color: var(--color-terciario);
  padding: 0 var(--padding-sm);
  display: inline-block;
  font-size: var(--font-xl);
}

/*MENÚ HAMBURGUESA*/

.barras {
  display: block;
  font-size: var(--font-xxxl);
  padding: var(--padding-xs);
}

.cruz {
  display: none;
  font-size: var(--font-xxxl);
  padding: var(--padding-xs);
}

.header:hover .cruz {
  display: block;
}

.header:hover .barras {
  display: none;
}

/*HEADER*/

.header__contenido {
  position: relative;
  padding: var(--padding-sm);
  overflow: hidden;
}

/*MENÚ*/

.nav__link {
  color: var(--color-terciario);
  padding: var(--padding-lg);
  display: block;
  font-family: var(--tipo-destacados);
  text-transform: uppercase;
  font-size: var(--font-md);
  border-bottom: 1px solid var(--color-terciario);
}

.nav__link--activo {
  background-color: var(--color-principal);
}

.nav__link:hover {
  background-color: var(--color-principal-claro);
}

.nav {
  position: fixed;
  background-color: var(--color-secundario);
  width: 100%;
  top: 160px;
  left: 100%; /*para que desaparezca del todo por la derecha*/
  transition: var(--transicion-simple);
  z-index: 3;
}

/*para hacer este tipo de menús hamburguesas el hover siempre hay que dárselo al header porque si no, al hacer clic, el menú nunca se mantendría a la vista. Lo ideal sería ponerle el hover al menú de hamburguesa pero eso solo se puede hacer con JavaScript*/

.header:hover .nav {
  left: 0px;
  transition: var(--transicion-simple);
}

/*CESTA DE LA COMPRA*/

.header__cesta {
  position: relative;
}

.header__bag__icono {
  color: var(--color-secundario);
  background-color: transparent;
  border: none;
  padding: var(--padding-sm);
  font-size: var(--font-xl);
}

.header__items-comprados {
  background-color: transparent;
  color: var(--color-principal);
  border: none;
  font-size: var(--font-lg);
  position: absolute;
  right: 0;
  top: 0;
}

/*IMAGEN CABECERA*/
.banner__texto {
  display: none;
}

.banner__titular {
  font-size: var(--font-lg);
  font-weight: 500;
}

.suscribirse * {
  padding: var(--padding-sm) 0;
}

.suscribirse {
  margin-bottom: var(--margin-lg);
  margin-top: var(--margin-sm);
}

.campo {
  padding: var(--padding-sm);
}

input,
textarea {
  font-family: var(--tipo-cuerpo);
  width: 100%;
}

.btn-submit [type='submit'] {
  padding: var(--padding-md);
  background-color: var(--color-accent);
  color: var(--color-terciario);
  border: 2.5px solid var(--color-accent);
  border-radius: var(--border-radius-xs);
  width: 40%;
  transition: var(--transicion-simple);
}

.btn-submit [type='submit']:hover {
  background-color: var(--color-terciario);
  color: var(--color-accent);
  border: 2.5px solid var(--color-accent);
  font-weight: 600;
  transition: var(--transicion-simple);
}

.col-6 {
  width: 100%;
}

/*SECCIÓN 2 - PRODUCTOS*/
.col-3 {
  width: 100%;
}

.producto {
  margin: var(--margin-md);
  padding: var(--padding-md);
  border: 1px solid var(--color-accent);
}

.producto * {
  padding: var(--padding-xs) 0;
}

.producto__nombre {
  font-weight: 400;
}

.producto--oferta {
}

.producto--oferta span {
  position: absolute;
  background-color: var(--color-accent);
  color: var(--color-terciario);
  border-radius: var(--border-radius-xxl);
  font-size: var(--font-lg);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tienda__titular {
  font-weight: 500;
  color: var(--color-accent);
  text-align: center;
  margin-bottom: var(--margin-md);
}

.producto__precio {
  font-size: var(--font-lg);
}

.producto__boton,
.mas-info__boton {
  padding: var(--padding-md) var(--padding-lg);
  background-color: var(--color-accent);
  color: var(--color-terciario);
  border-radius: var(--border-radius-xs);
  margin-top: var(--margin-md);
  border: 2.5px solid var(--color-accent);
  transition: var(--transicion-simple);
}

.producto__boton:hover,
.mas-info__boton:hover {
  background-color: var(--color-terciario);
  color: var(--color-accent);
  border: 2.5px solid var(--color-accent);
  transition: var(--transicion-simple);
}

.icono-comprar {
  font-size: var(--font-lg);
  margin-left: var(--margin-sm);
}

/*SECCIÓN 3 - GALERÍA*/

.col-4 {
  width: 100%;
  padding: var(--padding-md);
}

.imagenes__foto {
  position: relative;
  overflow: hidden;
}

.foto {
  display: block;
}

.imagenes__caption {
  background-color: var(--color-accent);
  color: var(--color-terciario);
  text-align: center;
  padding: var(--padding-md);
  position: absolute;
  height: 60px;
  bottom: -60px;
  opacity: 0;
  transition: var(--transicion-simple);
  width: 100%;
}

.imagenes__foto:hover .imagenes__caption {
  bottom: 0%;
  opacity: 1;
  transition: var(--transicion-simple);
}

.galeria__titular {
  font-size: var(--font-lg);
  font-weight: 600;
  color: var(--color-accent);
  padding: var(--padding-md);
}

/*SECCIÓN 4 - NOSOTROS*/

.nosotros__img,
.mas-info {
  padding: var(--padding-md);
}

.nosotros {
  padding: var(--padding-md) 0;
}

/*FOOTER - CONTENIDO*/

.footer__contenido {
  background-color: var(--color-accent-claro);
  color: var(--color-terciario);
  padding: var(--padding-lg);
}

.footer__contenido * {
  padding: var(--padding-sm);
}

.links a {
  color: var(--color-terciario);
}

.marca__logo {
  max-width: 200px;
}

.marca,
.links,
.newsletter {
  border-bottom: 1px solid var(--color-terciario);
}

/*@MEDIA*/
/*576px*/
@media (min-width: 576px) {
  .nav {
    top: 93px;
  }

  .header__link {
    padding: var(--padding-sm) var(--padding-md);
  }

  .banner__formulario {
    padding: 0 var(--padding-xxl);
  }

  .newsletter {
    border-bottom: none;
  }

  .col-3 {
    width: 50%;
  }
}

/*768px*/
@media (min-width: 768px) {
  .nav {
    position: static;
    background-color: var(--color-terciario);
  }

  .nav__link {
    color: var(--color-principal);
    padding: var(--padding-sm);
    margin: var(--margin-md);
    display: inline-block;
  }

  .nav__link--activo {
    background-color: var(--color-terciario);
    border-bottom: 3px solid var(--color-principal);
  }

  .nav__link:hover {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
  }

  .barras,
  .cruz {
    display: none;
  }

  .header:hover .barras,
  .header:hover .cruz {
    display: none;
  }

  .header__logo {
    order: 1;
  }

  .header__cesta {
    order: 3;
  }

  .nav {
    order: 2;
  }

  .header__contenido {
    padding: var(--padding-xs) var(--padding-lg);
  }

  .banner__texto {
    display: block;
    padding: var(--padding-sm) var(--padding-lg);
  }

  .banner__formulario {
    padding: 0 var(--padding-lg);
  }

  .col-4 {
    width: 50%;
  }

  .col-6 {
    width: 50%;
  }
}

/*992px*/
@media (min-width: 992px) {
  .header__social {
    text-align: right;
  }

  .header__contenido {
    padding: var(--padding-xs) var(--padding-xxl);
  }

  .marca,
  .links {
    border-bottom: none;
  }

  .col-3 {
    width: 25%;
  }
}

/*1200px*/
@media (min-width: 1200px) {
  .banner {
    position: relative;
  }

  .banner__contenido {
    position: absolute;
    top: 0;
    height: 90%;
    left: 5%;
    width: 90%;
    background-color: var(--color-secundario-transparente);
    color: var(--color-terciario);
    padding-top: var(--padding-md);
    align-items: center;
  }

  .contenedor {
    margin: var(--margin-xl) auto;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
