body {
  background-color: rgb(154, 119, 186);
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  body {
    background-color: cadetblue;
  }
}

@media (max-width: 992px) {
  body {
    background-color: rgb(217, 132, 174);
  }
}

@media (max-width: 768px) {
  body {
    background-color: darkolivegreen;
  }
}

@media (max-width: 576px) {
  body {
    background-color: rgb(144, 231, 202);
  }
}
