$color-azul: rgb(131, 188, 232);
$color-azul-oscuro: rgb(70, 99, 174);
$color-negro: black;
$color-gris-claro: rgb(231, 231, 231);
$color-blanco: white;
$tipo-cuerpo: 'Hedvig Letters Sans', sans-serif;
