.sobre-mi {
  width: 80%;
  margin: 80px auto 60px;

  &__titulo {
    font-family: $tipografia-titulares;
    font-size: $font-super-xxxl;
    font-weight: 500;
    margin-bottom: $margin-sm;
  }

  &__contenido {
    display: grid;
    gap: 20px;
  }

  &__img {
    border-radius: $border-radius-medium;
  }

  &__parrafo {
    font-weight: 400;
    margin-bottom: $margin-md;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .sobre-mi {
    margin: 120px auto 0;

    &__contenido {
      grid-template-columns: 2fr 3fr;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
