$tipografia-titulares: 'Raleway', sans-serif;
$tipografia-cuerpo: 'Inter', sans-serif;

$color-blanco: white;
$color-lila: #c9b8e6;
$color-morado: #765d9d;
$color-naranja: #f29573;
$color-semitransparente20: rgba(255, 255, 255, 0.2);
$color-semitransparente30: rgba(255, 255, 255, 0.3);
$color-semitransparente90: rgba(255, 255, 255, 0.9);

$padding-xxs: 0.2em;
$padding-xs: 0.3em;
$padding-sm: 0.5em;
$padding-sm-md: 0.6em;
$padding-md: 1em;
$padding-lg: 1.5em;
$padding-xl: 2em;
$padding-xxl: 2.5em;

$margin-sm-xs: 0.4em;
$margin-sm: 0.5em;
$margin-md: 1em;
$margin-lg: 1.5em;
$margin-xl: 2.5em;
$margin-xxl: 3.5em;

$font-xs: 0.8em;
$font-sm: 1em;
$font-sm-md: 1.1em;
$font-md: 1.2em;
$font-lg: 1.5em;
$font-xl: 2em;
$font-xxl: 2.5em;
$font-xxxl: 2.8em;
$font-super-xxxl: 3.5em;

$border-radius-small: 5px;
$border-radius-medium: 15px;
$border-radius-large: 35px;

$transicion-simple: all 0.5s ease;
