/*HEADER*/

.header {
  text-align: center;
  padding: 0.5em;
}

.nav {
  background-color: $color-azul;
  .nav__link {
    display: block;
    color: $color-blanco;
    padding: 1em;
    border: 1px solid $color-blanco;
    text-transform: uppercase;
    &:hover,
    &--activo {
      background-color: $color-blanco;
      color: $color-azul;
      border: 1px solid $color-azul;
    }
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .nav {
    .nav__link {
      display: inline-block;
      border: none;
      &:hover,
      &--activo {
        border: none;
      }
    }
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .nav {
    text-align: right;
  }
}
@media (min-width: 1400px) {
}
