@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Truculenta:opsz,wght@12..72,100..900&display=swap");

@font-face {
  font-family: "lemon-milk";
  src: url(../fonts/LEMONMILK-Regular.otf);
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: "Maitree", serif;
}

h3 {
  font-family: "Truculenta", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "lemon-millk", sans-serif;
}
