*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VARIABLES*/
:root {
  --color-negro: black;
  --color-blanco: white;
  --color-accent: #f7cf3c;
  --color-accent-claro: #ffeca8;
  --tipo-destacados: "Roboto", sans-serif;
  --tipo-cuerpo: "Almarai", sans-serif;
  --padding-xxs: 0.2em;
  --padding-xs: 0.3em;
  --padding-sm: 0.5em;
  --padding-md: 1em;
  --padding-lg: 1.5em;
  --padding-xl: 2em;
  --padding-xxl: 2.5em;
  --margin-sm: 0.5em;
  --margin-md: 1em;
  --margin-lg: 1.5em;
  --margin-xl: 2.5em;
  --font-sm: 0.8em;
  --font-md: 1em;
  --font-lg: 1.2em;
  --font-xl: 1.5em;
  --font-xxl: 2.5em;
  --font-xxxl: 2.8em;
  --border-radius: 5px;
  --transicion-simple: all 0.5s ease;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.contenedor {
  width: 80%;
  margin: 50px auto;
}

/*HEADER*/
.header {
  text-align: center;
  padding: var(--padding-md) var(--padding-md) 0 var(--padding-md);
}

.arriba {
  justify-content: space-between;
  margin-bottom: var(--margin-lg);
}

.arriba__btn {
  padding: var(--padding-md);
  margin: var(--margin-sm);
  border: 2px solid var(--color-accent);
  background-color: var(--color-blanco);
  transition: var(--transicion-simple);
}

.arriba__btn:hover {
  background-color: var(--color-accent-claro);
  transition: var(--transicion-simple);
}

.arriba__btn--importante {
  background-color: var(--color-accent);
  font-weight: 600;
}

.nav {
  margin-top: var(--margin-lg);
}

.nav__link {
  display: block;
  padding: var(--padding-sm) 0;
  color: var(--color-negro);
}

.nav__link:hover {
  border-bottom: 2px solid var(--color-negro);
}

/*SECCIÓN 1 - ÚLTIMA HORA*/
.ultima-hora {
  display: grid;
  grid-area: ultima-hora;
  gap: 50px;
}

.internacional,
.nacional,
.destacados {
  display: grid;
  gap: 50px;
}

.card__titular,
.card__img {
  margin-bottom: 1em;
}

/*SECCIÓN 2 - DEPORTES*/

.deportes__noticias {
  display: grid;
  gap: 20px 0;
}

.deportes__titular {
  margin-bottom: 20px;
}

.ficha__titular {
  font-size: var(--font-lg);
}

.ficha * {
  padding: var(--padding-xxs) 0;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

/*SECCIÓN 3 - ACTUALIDAD*/

.actualidad__publicidad {
  height: 600px;
  width: 250px;
  background-color: rgb(177, 177, 177);
  margin-top: 30px;
}

.actualidad__noticias {
  display: grid;
  grid-area: noticias-actualidad;
  gap: 30px;
}

.actualidad__publicidad {
  display: grid;
  grid-area: publicidad-actualidad;
}

.actualidad__titular {
  margin-bottom: 20px;
}

.noticia * {
  padding: var(--padding-xxs) 0;
}

/*SECCIÓN 4 - OPINIÓN*/

.opinion__contenido {
  display: grid;
  gap: 30px;
}

.opinion__titular {
  margin-bottom: 20px;
}

.extracto * {
  padding: var(--padding-xxs) 0;
}

/*MEDIA*/
@media (min-width: 576px) {
  .wrap {
    flex-wrap: nowrap;
  }

  .ficha * {
    padding: var(--padding-xxs);
  }

  .opinion__contenido {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .arriba__texto {
    display: inline-block;
  }

  .nav__link {
    display: inline-block;
    padding: var(--padding-sm) var(--padding-md);
  }

  .internacional,
  .destacados {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .actualidad__noticias {
    grid-template-columns: 1fr 1fr;
  }

  .opinion__contenido {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .ultima-hora {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .internacional,
  .destacados {
    grid-template-columns: 1fr;
  }

  .deportes__noticias {
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
  }

  .actualidad__contenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "noticias-actualidad noticias-actualidad publicidad-actualidad";
    gap: 0 30px;
  }

  .actualidad__publicidad {
    margin-top: 7px;
  }

  .opinion__contenido {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1400px) {
}

/*COLUMNAS*/
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
