.header {
  padding: $padding-lg;
}

.nav {
  &__navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    &:hover .nav__menu {
      right: 0;
      opacity: 1;
      transition: $transicion-simple;
    }
  }

  &__enlace {
    display: inline-block;
    padding: $padding-sm-md;
    border: 2px solid $color-blanco;
    border-radius: $border-radius-large;
    width: 100px;
    text-align: center;

    &--activo {
      background-color: $color-semitransparente20;
    }
  }

  &__menu {
    position: absolute;
    background-color: $color-lila;
    top: 60px;
    right: -290px;
    opacity: 0;
    transition: $transicion-simple;
    padding: $padding-md;
    border-radius: $border-radius-large 0 $border-radius-large
      $border-radius-large;
  }

  &__link {
    display: inline-block;
    padding: $padding-sm-md;
    border: 2px solid $color-blanco;
    border-radius: $border-radius-large;
    width: 220px;
    text-align: center;
    margin: $margin-sm-xs;

    &:hover {
      background-color: $color-semitransparente20;
    }
  }

  &__sublink {
    display: inline-block;
    padding: $padding-sm-md;
    background-color: $color-semitransparente90;
    color: $color-lila;
    border-radius: $border-radius-large;
    width: 220px;
    text-align: center;
    margin: $margin-sm-xs;

    &:hover {
      background-color: $color-semitransparente30;
      color: $color-blanco;
    }
  }
}

.hamburger {
  font-size: $font-xxl;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .mb-menu {
    display: none;
  }

  .nav {
    &__menu {
      position: static;
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
    }

    &__link {
      width: 200px;
    }

    &__sublink {
      width: 200px;
      color: $color-naranja;
    }
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
