@font-face {
  font-family: "graphik";
  src: url(../fonts/graphik/GraphikRegular.otf);
}

@font-face {
  font-family: "graphik-medium";
  src: url(../fonts/graphik/GraphikMedium.otf);
}

@font-face {
  font-family: "graphik-bold";
  src: url(../fonts/graphik/GraphikBold.otf);
}

@import "./parciales/variables";
@import "./parciales/generales";
@import "./parciales/header";
@import "./parciales/inicio";
@import "./parciales/peliculas";
@import "./parciales/fallen-leaves";
@import "./parciales/footer";
