*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


/*HEADER*/

/*REDES SOCIALES*/

.redes-sociales{
    text-align: right;
    padding: 40px 40px 0 0;
}

.redes-sociales *{
    width: 30px;
    margin: 2px;
}


/*LOGO*/

.logo{
    text-align: center;
}


/*MENÚ DE NAVEGACIÓN*/

nav{
    text-align: center;
    background-color:darkblue;
}

nav a{
    color: white;
    padding: 20px 40px;
    display: inline-block;
}

nav a:hover{
    background-color: cornflowerblue;
}


/*SECCIÓN 1 CON IMAGEN DE FONDO*/

.imagen-fondo{
    background: url(../images/foto-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section img, .pop-up{
    width: 30%;
    margin: 30px auto;
}

.pop-up{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

.pop-up *{
    padding: 15px;
}

.pop-up h2{
    color: darkblue;
}

.btn{
    background-color: darkblue;
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
    display: inline-block;
}

.btn:hover{
    background-color: rgb(0, 213, 255);
    color: darkblue;
}


/*SECCIÓN 2 CON LISTA*/

.contenedor{
    width: 50%;
    background-color: cornflowerblue;
    color: white;
    margin: 50px auto;
    padding: 30px 80px;
    border-radius: 20px;
}

.contenedor *{
    margin: 25px;
}

.contenedor h2{
    text-align: center;
}


/*SECCIÓN 3 CON GOOGLE MAPS*/

iframe{
    width: 100%;
}

.position {
    text-align: right;
}

.btn{
    margin: 0;
}


/*FOOTER*/

footer{
    background-color: rgb(59, 59, 59);
    padding: 40px 0 10px 0;
    text-align: center;
    color: white;
}

footer div *{
    margin: 20px;
}

footer a{
    color: white;
}