/*TODO*/

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

body {
  font-family: "Dosis", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*HEADER*/

header {
  text-align: center;
  padding: 0 20px;
}

.rrss a i {
  color: black;
  font-size: 1.6em;
  padding: 3.5px 10px;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 50px;
  margin: 8px;
  display: inline-block;
}

.rrss a i:hover {
  color: white;
  background-color: black;
}

nav {
  padding: 20px;
  background-color: white;
  text-align: center;
}

nav a {
  color: black;
  border: 1.5px solid black;
  padding: 18px;
  margin: 15px;
}

nav a:hover,
.active {
  background-color: black;
  color: white;
}

[class*="col-"] {
  padding: 20px;
}

.producto {
  border: 1.5px solid black;
}

.boton {
  text-align: center;
  margin-bottom: 30px;
}

.boton a {
  color: white;
  background-color: black;
  border: 1.5px solid black;
  padding: 14px 50px;
  display: inline-block;
}

.boton a:hover {
  background-color: #333333;
  color: white;
}

.superposicion h4 {
  display: none;
}

iframe {
  width: 100%;
  height: 300px;
}

footer {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
}

/*@MEDIA*/
@media (min-width: 576px) {
  iframe {
    height: 400px;
  }
}

@media (min-width: 768px) {
  nav {
    padding: 30px;
  }

  nav a {
    padding: 18px 35px;
    margin: 7px;
  }

  .superposicion {
    position: relative;
  }

  .superposicion h4 {
    display: block;
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
  }
}

@media (min-width: 992px) {
  nav a {
    padding: 18px 45px;
    margin: 15px 20px;
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .rrss a i {
    margin: 4px;
  }

  iframe {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  header .rrss {
    position: fixed;
    top: 500px;
    right: 10px;
  }

  header .rrss a {
    display: block;
  }
}
