/*FICHA PELÍCULA*/

.intro {
  position: relative;
}

.trailer {
  display: none;
}

.mobile-background {
  width: 100%;
}

.contenedor {
  width: 90%;
  margin: 30px auto;
}

.principal {
  color: $color-blanco;

  &__poster {
    height: 180px;
    margin-right: $margin-lg;
    display: none;
  }
}

.descripcion {
  &__nota {
    margin-bottom: $margin-lg;
    &__numerica {
      border: 1px solid $color-blanco;
      padding: $padding-sm;
      border-radius: $border-radius;
      font-size: $font-md;
    }
    &__general {
      margin-left: $margin-sm;
      &__votos {
        margin-bottom: $margin-sm;
      }
    }
  }

  &__titulo {
    font-size: $font-xl;
    font-family: $tipo-titulares;
    margin-bottom: $margin-sm;
  }

  &__direccion {
    margin-bottom: $margin-md;
  }

  &__detalles {
    align-items: center;

    &__fecha {
      margin-right: $margin-md;
      margin-bottom: $margin-md;
    }

    &__clasificacion {
      &__idioma {
        border: 2px solid $color-gris;
        border-radius: $border-radius;
        padding: $padding-xs;
        font-size: $font-xs;
        margin-right: $margin-sm;
        margin-bottom: $margin-md;

        &--edad {
          background-color: $color-gris;
        }
      }
    }
  }
}

.secundario {
  color: $color-gris-claro;
  font-family: $tipo-medium;
  max-width: 800px;
  margin: $margin-md 0 $margin-lg 0;
}

.terciario {
  &__botones {
    width: 100%;
    margin-bottom: $margin-sm;

    &__btn {
      padding: $padding-md;
      border-radius: $border-radius;
      background-color: $color-gris-oscurecido;
      border: none;
      color: $color-blanco;
      font-size: $font-sm;
      font-family: $tipo-medium;
      display: block;
      width: 100%;
      margin-bottom: $margin-sm;

      &:hover {
        background-color: $color-gris;
      }

      &--destacado {
        background-color: $color-verde;
        color: $color-negro;
        &:hover {
          background-color: $color-verde-claro;
        }
      }
    }
  }

  &__acciones {
    width: 100%;

    &__btn {
      padding: $padding-md;
      border-radius: $border-radius;
      background-color: transparent;
      border: none;
      color: $color-blanco;
      font-size: $font-sm;
      font-family: $tipo-medium;
      display: block;
      width: 100%;
      margin-bottom: $margin-sm;

      &:hover {
        background-color: $color-gris-oscurecido;
      }
    }
  }
}

.boton-trailer {
  width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  .terciario {
    &__botones {
      width: auto;
      &__btn {
        display: inline-block;
        width: auto;
        margin-right: $margin-sm;
      }
    }

    &__acciones {
      width: auto;
      &__btn {
        display: inline-block;
        width: auto;
        margin-right: $margin-sm;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .trailer {
    width: 100%;
    display: block;
  }

  .mobile-background {
    display: none;
  }

  .inf {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 60%
    );
  }

  .contenedor {
    position: absolute;
    margin: 0 30px;
    bottom: 0;
  }

  .principal {
    &__poster {
      display: block;
    }
  }

  .terciario {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
