/*FICHA PELÍCULA*/

.intro {
  position: relative;
}

.trailer {
  width: 100%;
}

.inf {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}

.contenedor {
  width: 90%;
  margin: 30px auto;
}

.principal {
  color: $color-blanco;

  &__poster {
    height: 180px;
    margin-right: $margin-lg;
    display: none;
  }
}

.descripcion {
  &__nota {
    margin-bottom: $margin-lg;
    &__numerica {
      border: 1px solid $color-blanco;
      padding: $padding-sm;
      border-radius: $border-radius;
      font-size: $font-md;
    }
    &__general {
      margin-left: $margin-sm;
      &__votos {
        margin-bottom: $margin-sm;
      }
    }
  }

  &__titulo {
    font-size: $font-xl;
    font-family: $tipo-titulares;
    margin-bottom: $margin-sm;
  }

  &__direccion {
    margin-bottom: $margin-md;
  }

  &__detalles {
    align-items: center;

    &__fecha {
      margin-right: $margin-sm;
    }

    &__idioma {
      border: 2px solid $color-gris;
      border-radius: $border-radius;
      padding: $padding-xs $padding-sm;
      font-size: $font-xs;
      margin: 0 $margin-sm;
      &--edad {
        background-color: $color-gris;
      }
    }
  }
}

.secundario {
  color: $color-gris-claro;
  font-family: $tipo-medium;
  max-width: 800px;
  margin: $margin-lg 0;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .principal {
    &__poster {
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
