$color-verde: #02ef97;
$color-verde-claro: #5effc3;
$color-blanco: white;
$color-gris-claro: #93959c;
$color-gris: #6f6f81;
$color-gris-oscurecido: #373845;
$color-gris-oscuro: #242432;
$color-azul-oscuro: #141426;
$color-negro: #060613;
$color-negro-transparente: rgba(0, 0, 0, 0.7);

$tipo-titulares: "graphik-bold";
$tipo-medium: "graphik-medium";
$tipo-cuerpo: "graphik";

$padding-xxs: 0.2em;
$padding-xs: 0.3em;
$padding-sm: 0.5em;
$padding-md: 1em;
$padding-lg: 1.5em;
$padding-xl: 2em;
$padding-xxl: 2.5em;

$margin-sm: 0.5em;
$margin-md: 1em;
$margin-lg: 1.5em;
$margin-xl: 2.5em;

$font-xs: 0.8em;
$font-sm: 1em;
$font-md: 1.2em;
$font-lg: 1.5em;
$font-xl: 2em;
$font-xxl: 2.5em;
$font-xxxl: 2.8em;

$border-radius: 5px;
$transicion-simple: all 0.5s ease;
$transicion-rapida: all 0.3s ease;
