*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*significa que el elemento y su borde y padding entran dentro del parent container, no se desbordan*/
}

section{
    width: 80%;
    margin: 50px auto;
}
img{
    max-width: 100%;
}

.flex{
    display: flex;
    gap: 30px;
}