* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ESTO SE HACE PARA QUE LAS IMÁGENES SE AJUSTEN AL ANCHO DE LA PÁGINA*/
img {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
  text-align: center;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  width: 25%;
  padding: 20px;
}

.contenedor {
  width: 80%;
  margin: 50px auto;
}

.rrss {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 1;
  background-color: black;
  padding: 5px;
}

.rrss a {
  display: block;
  color: white;
  margin: 5px 0;
  font-size: 1.5em;
}

.rrss a:hover {
  color: gray;
}

nav {
  background-color: black;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

/*Opción más moderna que necesita flex*/
/*nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}*/

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  color: white;
}

nav ul li a:hover {
  color: gray;
}

nav ul li ul {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: black;
  left: 20px;
  width: 200px;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul li {
  display: block;
  /*background-color: black;*/ /*Esto también se puede poner aquí*/
}

nav ul ul ul {
  top: 0;
  left: 200px;
}

/*SE DICE ESTO PARA QUE EL DIV DENTRO DE PUBLICIDAD COJA PUBLICIDAD COMO REFERENCIA*/
.publicidad {
  position: relative;
}

.publicidad > div {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  color: white;
}

.publicidad h3 {
  font-size: 2em;
}

.publicidad div div {
  text-align: center;
}

.publicidad div div a {
  display: inline-block;
  padding: 10px 15px;
  background-color: black;
  color: inherit;
}

.publicidad div div a:hover {
  color: gray;
}
