* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  background-color: forestgreen;
  border-radius: 10px;
}

nav a {
  color: white;
  display: inline-block;
  padding: 10px 20px;
}

nav a:hover {
  background-color: darkslategray;
  border-radius: 10px;
}

.contenedor-80 {
  width: 80%;
  margin: 80px auto;
}

.contenedor-80 p {
  margin-top: 10px;
}

.ancho-25 {
  width: 25%;
}

.ancho-33 {
  width: 33.33%;
}

.ancho-40 {
  width: 40%;
}

.ancho-50 {
  width: 50%;
  padding: 20px;
}

.ancho-60 {
  width: 60%;
  padding: 20px;
}

.ancho-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

section > div {
  padding: 20px;
}

.btn {
  text-align: center;
}

.btn a {
  background-color: forestgreen;
  color: white;
  display: inline-block;
  padding: 10px 60px;
  border-radius: 10px;
  margin: 20px 0;
}

.btn a:hover {
  background-color: darkslategray;
  border-radius: 10px;
}

footer {
  display: flex;
  background-color: forestgreen;
  align-items: center;
  text-align: center;
  padding: 20px;
}

ul {
  width: 70%;
  margin: auto;
  text-align: left;
}

footer p {
  text-align: left;
}

footer a {
  padding: 5px;
}
