/*TODO*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*HEADER*/
header {
  text-align: center;
  background-color: #4a2357;
  padding: 20px;
}

nav a {
  display: block;
  padding: 12px;
  background-color: white;
  color: #4a2357;
  border-radius: 30px;
  margin: 20px;
}

.rrss a {
  color: white;
  font-size: 1.5em;
  padding: 8px;
  display: inline-block;
}

/*SECCIONES*/

.flex {
  display: flex;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.container-90 {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.container-90 p {
  text-align: left;
}

h2 {
  text-align: center;
}

.foto-4 {
  display: none;
}

.col-3 {
  width: 100%;
}

.col-4 {
  width: 100%;
}

.col-6 {
  width: 100%;
}

.col-8 {
  width: 100%;
}

.col-12 {
  width: 100%;
}

[class*='col-'] {
  padding: 10px;
}

.btn {
  text-align: left;
}

.btn a {
  background-color: #4a2357;
  color: white;
  padding: 15px 70px;
  display: inline-block;
  border-radius: 30px;
  margin: 20px 0;
}

/*FOOTER*/
footer {
  background-color: #4a2357;
  color: white;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

/*@MEDIA*/
@media (min-width: 576px) {
  nav a {
    display: inline-block;
    padding: 12px 50px;
  }
}

@media (min-width: 768px) {
  .container-80 {
    width: 80%;
    margin: 20px auto;
  }

  .col-3 {
    width: 33.33%;
  }

  .col-6 {
    width: 100%;
  }

  .col-6.galeria {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .rrss {
    text-align: right;
  }

  .foto-4 {
    display: block;
  }

  .col-3 {
    width: 25%;
  }

  footer .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;
  }

  .navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .rrss {
    position: absolute;
    right: 20px;
  }

  .rrss a {
    display: block;
  }

  .items-center {
    align-items: center;
  }

  .navegacion {
    display: block;
  }
}
